<!DOCTYPE html>
<html>
<head>

<title>Expense Tracker</title>

<style>

body{
    margin:0;
    font-family:Arial;
    background:#f4f4f4;
}

.hero{
    text-align:center;
    padding:120px;
}

h1{
    font-size:60px;
}

p{
    font-size:22px;
    color:gray;
}

.btn{
    text-decoration:none;
    padding:15px 30px;
    margin:10px;
    background:black;
    color:white;
    border-radius:10px;
}

</style>

</head>

<body>

<div class="hero">

<h1>💰 Expense Tracker</h1>

<p>
Track expenses, analyze spending and build better financial habits.
</p>

<br>

<a href="/login" class="btn">
Login
</a>

<a href="/register" class="btn">
Register
</a>

</div>

</body>
</html>